.background {
  background-color: rgb(188, 188, 188);
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.composableMap {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}
