:root {
  /* COLOR */
  --color-black: #000;
  --color-light-black: #3f454d;
  --color-gray: #b4b4b4;
  --color-light-gray: #d2d2d2;
  --color-white: #fff;
  --color-orange: #ffc069;
  --color-deep-orange: #ffa940;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
