/* MAIN POSTING */
.main-posting {
  position: relative;
  width: 670px;
  height: 500px;
  margin-right: 10px;
  font-family: "NanumSquareRound", sans-serif;
  color: var(--color-white);
}
.main-posting .main-posting__title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 40px;
  font-size: 24px;
}
.main-posting .main-posting__info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 40px;
}
.main-posting .main-posting__info span {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  text-align: left;
}
.main-posting .main-posting__side {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 40px;
}
.main-posting__side .main-posting__icons {
  margin: 35px 15px;
  font-size: 26px;
  color: var(--color-light-gray);
  cursor: pointer;
  transition: all 0.2s;
}
.main-posting__side .main-posting__icons:hover {
  color: var(--color-white);
  transform: scale(1.2);
}
.main-posting img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: 500px;
  z-index: -2;
  box-sizing: content-box;
}
